<appSettings>
	<add key="URL" value="https://www.dropbox.com/"/>
	<add key="Username" value="testuserdrop@gmail.com"/>
	<add key="Password" value="Testing@123"/>
	<add key="sharedEmailId" value="m.bhowmik@riteq.com.au"/>
	<add key="Path" value="D:\Samplefiles"/>
	<add key="Foldername" value="Test"/>

</appSettings>